@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-transition{
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.color-transition{
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}